.homePage {
    padding: 20px;
    text-align: center;
    font-family: Lato, Lato-fallback, Arial, sans-serif;
    background-color: black;
}
.title { 
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}
.errorMessage {
    color: red;
    font-weight: bold;
    margin: 20px 0;
}

.loadingMessage,
.loadingMoreMessage {
    color: white;
    font-style: italic;
    margin: 20px 0;
}
.loadMoreButton {
    background-color: #657182;
    color: #060d17;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}
