ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
}

li {
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.movie-info {
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #657182;
}
.link, .backLink {
    text-decoration: none;
    color: #d11a1d;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    transition: color 0.3s, transform 0.2s;
}

.link:hover, .backLink:hover {
    color: #f1ce08e1;
    transform: translateY(-2px);
}
.imageContainer {
    width: 250px;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
  }
  
  .poster {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }
  
  .noImage {
    color: #fff;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
  }